version: '3.8'

services:
  mysql-db:
    image: mysql:8.0
    container_name: pc_shop_mysql
    restart: always
    environment:
      MYSQL_DATABASE: pc_shop_db
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data: